*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f6f8f7;
  color: #17212b;
}

button,
input {
  font: inherit;
}
